body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('media/lotlb_backgrd.png'); 
  
  background-size: cover;
    background-position: center;
    color: #fff; /* Optional: to ensure text is readable on the background */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black text outline */
}

h1 {
    font-size: 48pt; /* Increase the font size of the main heading */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black text outline */
}

#bingoBoard {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    margin-top: 20px;
}

.bingo-header {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 48pt; /* Increase the font size of Bingo headers */
    color: #fff; /* Text color for headers */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black text outline */
}

.bingo-cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    color: #000; /* Text color */
    cursor: pointer;
    position: relative;
}

.bingo-cell.marked {
    background-color: rgba(255, 0, 0, 0.8); /* Red background for marked cells */
}

.bingo-cell.marked::after {
    content: 'X';
    font-size: 48px;
    color: red;
    position: absolute;
}

.buttons {
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
